#root {display: flex; flex-direction: column; height: 100%;}
body{background-color: #efefef;}
a {text-decoration: none;}



.wrapper {flex: 1 0 auto;
padding-bottom: 4rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.container h1{
  width: 100%;
  padding-top: 20px;
}

.navbar{padding: 1rem 3rem}
.me-2{margin: 0px;}
.navbar-nav a{padding:8px; color:$color-menu_text;}
.navbar input{border-radius: 0px;}
.navbar-nav button, me-2 {margin-right: 0px;}
.btn-outline-success {color: $color-menu_active; background-color: $color-primary; border:0px; border-radius: 0px;}

h1, .navbar-brand, .nav-tabs, .nav-link {color: $color-primary;}
.nav-link-active{color: $color-media;}