$color-primary: #E92569;
$color-background:#FFFFFF - #E5E5E5;

$color-menu_bk:#EFEFEF;
$color-menu_text: #0A0A0A;
$color-media:#767676;
$color-tabs_media:#0A0A0A;
$color-p_header:#0A0A0A;
$color-p_text:#767676;
$color-forms_bk:#EFEFEF;

$color-tabs_bk:#FFFFFF;
$color-footer_bk:#FFFFFF;
$color-menu_active:#FFFFFF;
$color-button_text:#FFFFFF;
$color-button_forms:#767676;


$color-contact_website: #C7C7C7;
$color-transparent:rgba(0, 0, 0, 0);